@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');
* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', serif;
}

.header {
    background-color: lightseagreen;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid rgb(119, 119, 119);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header__title {
    padding: 20px;
    color: white;
    font-size: 2.5rem;
    font-family: 'Montserrat Alternates';
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rules {
    width: 50%;
    text-align: center;
    background-color:rgb(255, 215, 163);
    border-radius: 10px;
}

.rules__list {
    list-style-type: none;
    padding: 0;
    font-size: 1.2rem;
}

.game {
    width: 70%; 
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.game__choose {
    flex-basis: 100%;
    font-size: 1.2rem;
}

.game__button {
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border: 5px solid rgb(119, 119, 119);
    border-radius: 10px;
    outline: none;
    background-color:rgb(255, 215, 163);
    transition: all 0.4s;
    font-weight: 500;
}

.game__button:hover {
    cursor: pointer;
    border-color: rgb(75, 75, 75);
    background-color: rgb(255, 184, 92);
}

.game__button:active {
    top: 5px;
}

.game__figure {
    height: 100%;
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.game__figure > div {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game__figure--img {
    min-width: 70%;
    min-width: 70%;
}

.game__figure--figcaption {
    font-size: 20px;
}

.game__scores {
    flex-basis: 100%;
}

.game__scores--button {
    position: relative;
    width: 300px;
    height: 50px;
    border: 5px solid rgb(119, 119, 119);
    border-radius: 10px;
    outline: none;
    background-color:rgb(155, 253, 248);
    transition: all 0.4s;
    font-weight: 500;
    font-size: 20px;
}

.game__scores--button:hover {
    cursor: pointer;
    border-color: rgb(75, 75, 75);
    background-color: rgb(55, 190, 184);
}

.game__scores--button:active {
    top: 5px;
}

.game__scores--div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border: 5px solid rgb(119, 119, 119);
    border-radius: 10px;
    top: 12.5%;
    position: fixed;
    width: 70%;
    height: 75%;
    padding: 20px;
    overflow-y: auto;
}

.game__scores--div button {
    position: absolute;
    width: 40px;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    opacity: 0.7;
}

.game__scores--div button:hover {
    cursor: pointer;
    opacity: 1;
}

.game__scores--div button img {
    width: 100%;
}

.game__scores--div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    height: 200px;
    border: 5px solid rgb(119, 119, 119);
    border-radius: 10px;
    background-color:rgb(255, 215, 163);
    font-weight: 500;
    font-size: 20px;
}

.game__scores--closed {
    display: none;
}


.game__result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border: 5px solid rgb(119, 119, 119);
    border-radius: 10px;
    top: 12.5%;
    position: fixed;
    width: 70%;
    height: 75%;
    padding: 20px;
    overflow-y: auto;
}

.game__result > p {
    flex-basis: 100%;
    margin-bottom: 20px;
    font-size: 20px;
}

.game__result .versus {
    flex-basis: 25%;
    font-size: 3rem;
    color: rgb(119, 119, 119);
    font-weight: bold;
}

.game__result button {
    position: absolute;
    width: 40px;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    opacity: 0.7;
}

.game__result button:hover {
    cursor: pointer;
    opacity: 1;
}

.game__result button img {
    width: 100%;
}

.game__result > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    height: 250px;
    border: 5px solid rgb(119, 119, 119);
    border-radius: 10px;
    outline: none;
    background-color:rgb(255, 215, 163);
    font-weight: 500;
    font-size: 20px;
}

.game__result div p {
    font-size: 20px;
}

.game__result img {
    width: 100px;
}

.game__result--closed {
    display: none;
}

.footer {
    text-align: center;
    font-size: 1.2rem;
}

.footer__img {
    font-family: monospace;
    width: 25px;
    vertical-align: bottom;
}

